:root {
  --main-color:#95c95d;
}

html, body {
  background-color: #000;
  color: #fff;
}

html {
  font-size: 16px;
}

body {
  margin: 2rem;
  padding: 0;
  font-family: sans-serif;
}

ul {
  list-style: none;
}

.main-container {
  position: relative;
  text-align: center;
}

/* FORMS */
.btn-default {
  background-color: var(--main-color);
  font-weight: bold;
  border: none;
}

form:not(.signup-form) .form-group + .btn {
  margin-left: .5rem;
}

.form-search {
  justify-content: center;
  margin: 2rem 0 3rem;
}

/* HEADER */
.header-slogan {
  font-size: 1rem;
  margin: 0 0 4rem 0;
}

/* SEARCH RESULT COMPONENT */
.search-result {
  margin: 2rem auto;
  width: 70%;
}

/* GIFS COMPONENT */
.gif-list__item {
  min-height: 11.625rem;
}

.gif-list__image {
  width: 100%;
}

/* TRACK COMPONENT */
.track-list__item-player {
  margin-left: -2.5rem;
  transform: scale(.7);
}

.track-list__item-heading {
  font-size: 1rem;
}

.track-list__item-heading--small {
  font-size: 75%;
}

.btn-logout {
  background-color: #ff5722;
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
}

.header {
  margin-bottom: 3rem;
}

/* Signup-form */

.signup-form  {
  margin: 0 auto;
  width: 400px;
}

.signup-form .control-label {
  margin-right: 1rem;
}